<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="WHATSAPP_API_TOKEN"
            value="EAAFZBOUFN2ZBQBOZBMUI2Ad6cxjMge16jt8eDKc4tdDHyO5h3he9sNAf1xTsDo6GYb96GSaoeg1s7ZCEJfU5ZArCM7HJnBCqDkNTdgVjxZApZCvO3ReYY7kok9JNVWlRZAY5NXBNoZBpGqs5BlEldZBxcLnlBxtngxO3zD0SuJqOpcmGzutaFrKnfDAg2iwglW9nCj" />
        <env name="WHATSAPP_API_PHONE_NUMBER_ID" value="255764720944895" />
    </php>
</phpunit>